body {
	overflow: hidden;
}

#innerWindow {
	background-image: url(app/img/UI/background.jpg);
	overflow: hidden;
	width: 1500px;
	height: 844px;
}


.result {
	font-size: medium;
	font-family: sans-serif;
	color: white;
	line-height: 90%;
}