body {
	overflow: hidden;
	margin : 0px;
}

div {
	user-select : none;
}

#innerWindow {
	background-image: url(app/img/UI/background.jpg);
	overflow: hidden;
	width: 1500px;
	height: 844px;
	position: absolute;
}


.result {
	font-size: medium;
	font-family: sans-serif;
	color: white;
	line-height: 90%;
}